@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe,
.button-show-more {
  font-size: 20px;
  line-height: 26px;
}

.center {
  text-align: center;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.page-header {
  color: #000000;
  background: #ffffff;
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 0 auto;
}

.navigation {
  width: 352px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 33px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-logo {
  display: block;
  margin: 0 auto;
}

.navigation-user {
  display: flex;
  align-items: center;
  width: 250px;
}

.navigation-user .navigation-link {
  margin-right: 33px;
  width: 18px;
  height: 18px;
  background-color: black;
}

.navigation-user .button {
  display: block;
  box-sizing: border-box;
  padding: 9px 0 10px;
  width: 160px;
  height: 37px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  margin-bottom: 137px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-logo-container {
  background-image: url("../img/divider.svg"), url("../img/index-background.jpg");
  background-position: bottom, top;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: grey;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 63px;
  margin-bottom: 23px;
}

.advantages-info {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
  margin-bottom: 79px;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-title {
  margin-top: 97px;
  margin-bottom: 25px;
}

.advantages-number {
  text-transform: uppercase;
  margin-bottom: 26px;
}

.advantages-description {
  margin-bottom: 77px;
}

.advantages-item:nth-child(-n+2) {
  color: #ffffff;
  width: 1200px;
}

.advantages-item:nth-child(n+3) {
  color: #333333;
  width: 400px;
}

.advantages-item:nth-child(n+3) .advantages-title {
  color: #000000;
}

.advantages-item:nth-child(n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-row {
  display: flex;
  flex-direction: row;
  background-color: #83B3D3;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.features-item {
  width: 400px;
}

.features-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-title {
  color: #000000;
  margin-top: 232px;
  margin-bottom: 20px;
}

.features-description {
  color: #333333;
  margin-bottom: 79px;
}

.advantages-title,
.features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-number,
.advantages-description,
.features-description {
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  background-color: #ffffff;
  padding-top: 91px;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hotel-search-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 73px;
}

.subscribe-main {
  background-image: url("../img/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: grey;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  box-sizing: border-box;
}

.subscribe-inner {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.subscribe-main .subscribe-title {
  color: #ffffff;
}

.subscribe-inner .subscribe-title {
  color: #000000;
}

.subscribe-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 26px;
}

.subscribe-main .subscribe-info {
  color: #ffffff;
}

.subscribe-inner .subscribe-info {
  color: #333333;
}

.footer-contacts {
  display: flex;
  width: 1057px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 107px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item a {
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 720px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-copyright-link {
  width: 115px;
}

.header-inner-container {
  background-image: url("../img/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-position: top, top;
  background-repeat: no-repeat;
  background-color: grey;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 53px;
  margin-bottom: 44px;
}

.header-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 26px;
}

.catalog-filters {
  width: 1057px;
  margin: 0 auto;
}

.catalog-filters-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-title:nth-child(3) {
  margin-bottom: 34px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-price {
  display: flex;
  flex-direction: column;
}

.catalog-filter-price-input {
  margin-bottom: 32px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.catalog-filter-button .button-apply {
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
}

.catalog-filter-button .button-reset {
  width: 160px;
  height: 23px;
}

.catalog-hotels {
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.hotels-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 31px;
}

.hotels-card {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px auto 160px;
  grid-template-rows: 31px 31px 23px 31px 37px 30px;
  border-top: 1px solid #e5e5e5;
}

.hotels-card:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-rating {
  width: 160px;
  grid-area: 5 / 7 / 6 / 8;
}

.hotels-card-image {
  grid-area: 2 / 1 / 6 / 2;
}

.hotels-card-link {
  grid-area: 2 / 3 / 3 / 7;
  box-sizing: border-box;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.hotels-card-about {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  grid-area: 3 / 3 / 4 / 4;
}

.hotels-card-price {
  margin: 0;
  grid-area: 3 / 5 / 4 / 6;
}

.hotels-card-category {
  grid-area: 2 / 7 / 3 / 8;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
  padding: 9px 0 10px;
  grid-area: 5 / 7 / 6 / 8;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.catalog-hotels .hotels-card-button {
  width: 151px;
  height: 37px;
  padding: 9px 0 10px;
  grid-area: 5 / 3 / 6 / 4;
  box-sizing: border-box;
}

.catalog-hotels .button-favourites {
  width: 160px;
  height: 37px;
  grid-area: 5 / 5 / 6 / 6;
}

.filters-result {
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.filters-result-sorting {
  display: flex;
  width: 816px;
}

.filters-result-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.filters-result-mode {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-gap: 8px;
  margin-left: auto;
}

.filters-result-mode .button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
}

.sorting-type-form {
  width: 287px;
  margin-left: auto;
}

.sorting-type-form .select-control {
  width: 287px;
  height: 48px;
  padding-left: 19px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 18px;
}

.pagination {
  width: 1057px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 89px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 55px);
  grid-gap: 8px;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #ffffff;
}

.hotels-per-page-form {
  width: 386px;
  margin-left: auto;
}

.hotels-per-page-form .select-control {
  width: 160px;
  height: 48px;
  font-size: 18px;
  margin-left: 32px;
  padding-left: 17px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
