@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.button-apply,
.button-show-more,
.button-subscribe {
  background-color: #83B3D3;
}

.button-apply:hover,
.button-show-more:hover,
.button-subscribe:hover {
  background-color: #68a2ca;
}

.button-show-more:focus-visible,
.button-subscribe:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-apply:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.button-apply:active,
.button-show-more:active,
.button-subscribe:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-detailed,
.button-link,
.button-search {
  background-color: #756257;
}

.button-detailed:hover,
.button-link:hover,
.button-search:hover {
  background-color: #615048;
}

.button-detailed:focus-visible,
.button-link:focus-visible,
.button-search:focus-visible {
  background-color: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: -1px;
}

.button-detailed:active,
.button-link:active,
.button-search:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-favourites {
  background-color: #83B3D3;
}

.button-favourites:hover,
.button-favourites:focus-visible,
.button-favourites:active {
  background-color: #68a2ca;
}

.button-favourites:hover {
  outline: 1px solid #756257;
}

.button-favourites:focus-visible {
  outline: 3px solid #756257;
}

.button-favourites:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #756257;
}

.button-favourites-active {
  background-color: #7DB54F;
}

.button-favourites-active:hover,
.button-favourites-active:focus-visible,
.button-favourites-active:active {
  background-color: #6c9e42;
}

.button-favourites-active:focus-visible {
  outline: 3px solid #756257;
}

.button-favourites-active:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-link {
  width: 160px;
  height: 37px;
  padding: 9px 0;
  border-radius: 4px;
  margin-left: 12px;
}

.button-search {
  width: 575px;
  height: 60px;
  padding: 13px 0;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.button-subscribe {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
}

.button-apply {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  margin-bottom: 19px;
}

.button-reset {
  width: 100px;
  height: 23px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
  margin: 0 auto;

}

.button-detailed {
  width: 151px;
  height: 37px;
  padding: 9px 0;
  border-radius: 4px;
}

.button-favourites {
  width: 160px;
  height: 37px;
  padding: 9px 0;
  border-radius: 4px;
}

.button-show-more {
  width: 625px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  margin: 0;
  margin-left: 216px;
  margin-bottom: 27px;
  display: block;
}

.page-header-container {
  color: #000000;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  position: relative;
  margin-left: 60px;
  margin-right: 72px;
}

.navigation {
  width: 400px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: start;
  margin-top: 12px;
}

.navigation-item:not(:last-child) {
  margin-right: 9px;
}

.navigation-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 11px;
  bottom: -16px;
  left: 12px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: #756257;
}

.navigation-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 10px;
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
  border: 0;
}

.navigation-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 471px;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 260px;
  position: relative;
}

.navigation-user-link {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  outline: none;
  position: relative;
}

.navigation-user-icon::before {
  position: absolute;
  content: "12";
  color: #ffffff;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  text-align: center;
  top: 0px;
  left: 23px;
  width: 19px;
  height: 16px;
  padding-top: 3px;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-user-link:first-child .navigation-user-icon::before {
  content: none;
}

.navigation-user-link .navigation-user-icon {
  fill: #000000;
  padding: 10px 5px 5px 10px;
}

.navigation-user-link:hover .navigation-user-icon {
  fill: #756257;
}

.navigation-user-link:focus-visible .navigation-user-icon {
  fill: #756257;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 10px;
}

.navigation-user-link:active .navigation-user-icon {
  fill: #756257;
  opacity: 0.3;
}

.navigation-user .button-link {
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  margin-bottom: 137px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-logo-container {
  background-image: url("../img/divider.svg"), url("../img/index-background.jpg");
  background-position: bottom, top;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  padding-top: 51.4px;
  padding-bottom: 82px;
  background-color: grey;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.advantages-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 61px;
  margin-bottom: 24px;
  width: 720px;
  padding-bottom: 10px;
}

.advantages-info {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 79px;
  width: 720px;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-title {
  margin-top: 97px;
  margin-bottom: 26px;
  padding-bottom: 3px;
  width: 400px;
  text-align: center;
}

.advantages-number {
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-bottom: 4px;
  width: 250px;
  text-align: center;
  font-weight: 400;
}

.advantages-description {
  margin: 0 auto;
  margin-bottom: 79px;
  width: 250px;
  font-weight: 400;
  text-align: center;
}

.advantages-item:nth-child(-n+2) {
  color: #ffffff;
}

.advantages-item:nth-child(n+3) {
  color: #333333;
  width: 400px;
}

.advantages-item:nth-child(n+3) .advantages-title {
  color: #000000;
}

.advantages-item:nth-child(n+3) .advantages-description {
  padding-bottom: 30px;
}

.advantages-item:nth-child(n+3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #83B3D3;
}

.advantages-row .advantages-description {
  width: 220px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.features-item {
  position: relative;
  width: 400px;
}

.features-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item::before {
  content: "";
  position: absolute;
}

.features-item:nth-child(1)::before {
  top: 89px;
  left: 163px;
  width: 75px;
  height: 72px;
  background-image: url("../img/feature-housing.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
  top: 91px;
  left: 163px;
  width: 74px;
  height: 70px;
  background-image: url("../img/feature-eating.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(3)::before {
  top: 85px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/feature-souvenir.svg");
  background-repeat: no-repeat;
}

.features-title {
  color: #000000;
  margin: 0 auto;
  margin-top: 185px;
  margin-bottom: 18px;
  width: 250px;
}

.features-description {
  color: #333333;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 10px;
  width: 250px;
}

.advantages-title,
.features-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-number,
.advantages-description,
.features-description {
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  background-color: #ffffff;
  padding-top: 89px;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 16px;
}

.hotel-search-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 58px;
  width: 720px;
}

.subscribe-main {
  background-image: url("../img/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: grey;
  padding-top: 92px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-inner {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 60px;
  box-sizing: border-box;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.subscribe-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  padding-bottom: 19px;
}

.subscribe-form input {
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 26px;
  border: none;
  color: rgba(0, 0, 0, 0.6)
}

.subscribe-form input:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6)
}

.subscribe-form input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  color: rgba(0, 0, 0, 0.6);
}

.input-error {
  background-color: #ffffff;
  border: 2px solid #ff5757;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.subscribe-main .subscribe-title {
  color: #ffffff;
}

.subscribe-inner .subscribe-title {
  color: #000000;
}

.subscribe-main .subscribe-info {
  color: #ffffff;
}

.subscribe-inner .subscribe-info {
  color: #333333;
}

.footer-contacts-container {
  display: flex;
  margin-left: 60px;
  margin-right: 52px;
  min-height: 120px;
}

.footer-social-list {
  display: flex;
  justify-content: start;
  width: 150px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 38px;
}

.footer-social-item:not(last-child) {
  margin-right: 5px;
}

.footer-social-link {
  display: block;
  box-sizing: border-box;
  outline: none;
  width: 40px;
  height: 40px;
}

.footer-social-link .footer-social-icon {
  fill: #83B3D3;
  padding: 10px;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-link:focus-visible .footer-social-icon {
  fill: #68a2ca;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 10px;
}

.footer-social-link:active .footer-social-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  width: 370px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: auto;
  padding: 12px;
  display: block;
  box-sizing: border-box;
  border: none;
  margin-left: 205px;
}

.footer-copyright-link {
  width: 125px;
  margin-top: 32px;
  margin-bottom: auto;
  margin-left: auto;
  padding: 10px;
}

.footer-contacts-phone:hover,
.footer-copyright-link:hover {
  color: #756257;
  fill: #756257;
}

.footer-contacts-phone:focus-visible,
.footer-copyright-link:focus-visible {
  color: #756257;
  fill: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-contacts-phone:active,
.footer-copyright-link:active {
  color: rgba(117, 98, 87, 0.3);
  fill: rgba(117, 98, 87, 0.3);
  outline: none;
}

.header-inner-container {
  background-image: url("../img/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-position: top, top;
  background-repeat: no-repeat;
  background-color: grey;
  color: #ffffff;
  padding-top: 32px;
  padding-bottom: 68px;
  margin-bottom: 44px;
}

.header-inner-title {
  font: inherit;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  width: 528px;
  margin: 0;
  margin-left: 71px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  width: 500px;
  margin: 0;
  margin-left: 65px;
  margin-bottom: 44px;
  margin-top: -7px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  border: none;
  padding: 3px 8px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  background-image: url("/img/catalog/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 27px;
  margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-item::before {
  position: absolute;
  top: 10px;
  left: -7px;
  background-image: url("/img/catalog/nav-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 8px;
  content: "";
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.catalog-filters {
  width: 1057px;
  margin: 0 auto;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filters-form {
  display: flex;
  align-items: stretch;
}

.catalog-filter-group-infrastructure {
  width: 180px;
  margin-right: 38px;
}

.catalog-filter-group-typehouse {
  width: 180px;
  margin-right: 131px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-price-range {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: auto;
  padding-bottom: 15px;
}

.catalog-hotels {
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 31px;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 31px;
}

.hotels-card {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px auto 160px;
  grid-template-rows: 28px 32px 23px 31px 37px 30px;
  position: relative;
}

.hotels-card:nth-child(1):before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #e6e6e6;
}

.hotels-card::after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #e6e6e6;
}

.hotels-rating {
  width: 160px;
  grid-area: 5 / 7 / 6 / 8;
}

.hotels-card-image-link {
  grid-area: 2 / 1 / 6 / 2;
}

.hotels-card-image {
  margin-top: 3px;
}

.hotels-card-image-link:hover {
  opacity: 0.6;
}

.hotels-card-image-link:focus-visible {
  outline: 3px solid #83B3D3;
}

.hotels-card-image-link:active {
  opacity: 0.3;
  outline: none;
}

.hotels-card-title {
  grid-area: 2 / 3 / 3 / 7;
  display: block;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.hotels-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotels-card-link:hover,
.hotels-card-link:focus-visible,
.hotels-card-link:active {
  color: #756257;
}

.hotels-card-link:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.hotels-card-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.hotels-card-about {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  grid-area: 3 / 3 / 4 / 4;
}

.hotels-card-price {
  margin: 0;
  grid-area: 3 / 5 / 4 / 6;
}

.hotels-card-category {
  grid-area: 2 / 7 / 3 / 8;
  padding-top: 5px;
  justify-self: center;
  display: flex;
  justify-content: space-between;
}

.two-stars {
  width: 43px;
}

.three-stars {
  width: 68px;
}

.four-stars {
  width: 91px;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
  padding: 7px 0;
  grid-area: 5 / 7 / 6 / 8;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.catalog-hotels .button-detailed {
  grid-area: 5 / 3 / 6 / 4;
}

.catalog-hotels .button-favourites {
  grid-area: 5 / 5 / 6 / 6;
}

.filters-result {
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.filters-result-sorting {
  display: flex;
  width: 816px;
}

.filters-result-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.filters-result-mode {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-gap: 8px;
  margin-left: auto;
}

.filters-result-mode .results-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
}

.filters-result-mode .results-mode-toggle:hover,
.filters-result-mode .results-mode-toggle:focus {
  outline: 2px solid #83B3D3;
}

.filters-result-mode .results-mode-toggle-active {
  outline: 2px solid #000000;
}

.sorting-type-form {
  margin-left: auto;
}

.sorting-type-form .select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
}

.sorting-type-form .select-control {
  width: 100%;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font: inherit;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 19px;
  background-image: url("/img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.sorting-type-form .select-control:hover,
.sorting-type-form .select-control:focus-visible {
  outline: 2px solid #83b3d3;
  border: none;
}

.sorting-type-form .select-control:active {
  outline: 2px solid #e6e6e6;
  color: rgba(117, 98, 87, 0.3);
  border: none;
}

.pagination {
  width: 1057px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 89px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 55px);
  grid-gap: 8px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  outline-offset: -3px;
}

.pagination-link:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-per-page-form {
  margin-left: auto;
  text-align: right;
}

.hotels-per-page-form .select {
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 386px;
}

.hotels-per-page-form .select-control {
  font: inherit;
  color: #333333;
  font-weight: 400;
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  margin-left: 46px;
  padding-left: 17px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("/img/catalog/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.hotels-per-page-form .select-control:hover,
.hotels-per-page-form .select-control:focus-visible {
  outline: 2px solid #83b3d3;
  border: none;
}

.hotels-per-page-form .select-control:active {
  outline: 2px solid #e6e6e6;
  color: rgba(117, 98, 87, 0.3);
  border: none;
}
